body {
  background: #6F59FA;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);
  background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); */
  background-repeat: repeat;
  color: white;
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-top: 12%;
  text-align: center;
}

.Form {
  display: run-in;
}

.Titles {
  font-size: 70px;
}

.Titles p {
  font-size: 28px;
}

.Weather {
  font-size: 30px;
}

.Weather:hover {
  color: turquoise;
}
